@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {

    --font-poppins:'Poppins',san-serif;
    --color-Primary:#FFA239;
    --color-Dark:#97A87A;
    --color-Medium:#A8BBA3;
    --color-Light:#FCF9EA;
}

