*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{

     padding: 30px;
     display: flex;
     flex-direction: column;
     gap: 14px;
         max-width: 400px;
         background-color: rgb(37, 37, 114);
         align-items: start;
         min-height: 400px;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
   
}


input{

    padding: 10px 20px;
}

 ul li{

    background-color: rgba(240, 248, 255, 0.315);
    padding: 5px 10px;
    border-radius: 30px;
    color: white;

 }

 span{

    color: white;
 }