*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    background-color: #0e0d0d;
    font-family: sans-serif;
}

.container{

    padding: 18px;
    margin-inline:auto ;
    display: flex;
    align-items: center;
    height: 100vh;
}

.count{

    color: white;
    font-size: 10rem
}


.counter-wrapper{

    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

button{

    font-size: 4rem;
    background: none;
    border: none;
    color: white;
}


@media(min-width:769px){



    .container{

        padding: 28px;
    }
}


@media(min-width:1024px){


    .container{


        max-width: 1600px;
    }
}