*{

    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: sans-serif;
    background-color: #ffffff;
}


.container{

    display: flex;
    align-items: center;
    height: 100vh;
}

.quiz-container{



    width: 700px;
    height: 90vh;
    margin-inline: auto;
    background-color: #f8f7f7;
    box-shadow: 0 5px 15px rgb(212, 210, 210);
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-container .title{

    font-size: 2rem;
    color: #746767;
    text-align: center;
}

.quiz-container .question-container{

    padding: 25px;
    height: 200px;
    
    box-shadow: 0 5px 10px rgb(209, 208, 208);
    border-radius: 4px;
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.quiz-container .question-container p{

    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    color: rgb(107, 104, 104);
    font-weight: 500;
   
}

.choice-ans{

    padding: 25px;
    box-shadow: 0 5px 10px rgb(209, 208, 208);
    margin-top: 15px;
     border-radius: 4px;
}

.ans-choice{

    display: flex;
    flex-direction: column;
    list-style: none ;
    gap: 10px;

}

.ans-choice li {

    font-size: 1.2rem;
    font-weight: 500;
}

.submit-ans input{

    padding: 14px 18px;
    width: 100%;
    margin: 18px 0px;
    border-radius: 4px;
    font-size: 1.1rem;
    border: none;
    box-shadow: 0 1px 14px rgb(221, 219, 219);
}


.ans-btn{

    display: flex;
    flex-direction: column;
   
}

.submit-ans .submit{

     width: 100%;
    padding: 14px 18px;
    background-color: rgb(31, 30, 30);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.submit-ans .next-btn{

    padding: 14px 18px;
    background-color: #6b6363;
    color: #f8f7f7;
    margin-top: 4px;
    display: none;
}

.content{

    display: none;
 
}

.content.show{

    display: block;
}

.start-btn{

    padding: 14px 18px;
    background-color: rgb(59, 58, 58);
    color: #ffffff;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
}

.start-btn.hide{

    display: none;
}


.modal{

    position: absolute;
    top: 380px;
    padding: 40px;
   background-color: #fffcfc;
    width: 300px;
    box-shadow: 0 5px 15px rgb(175, 173, 173);
    left: 44%;
    border-radius: 4px;
    display: none;
}

.modal .answer-verify{

    font-size: 1.3rem;
    font-weight: 500;
}

.modal .next-btn{

    padding: 14px 18px;
    margin-top: 14px;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: blue;
    color: #ffffff;
}

.modal.show{

    display: block;
}


