* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(2, 2, 39);
  font-family: "Inter", sans-serif;
}

.container-entry {
  padding: 25px;
  height: 100vh;
  align-content: center;
  margin-inline: auto;
  max-width: 470px;
}

.brand {
  color: white;
  font-weight: 700;
  letter-spacing: 3px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
   background-clip: text;
  -webkit-text-fill-color: transparent;
}

.context-entry {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.welcome-text {
  color: rgb(252, 239, 239);
}

.welcome-text .header {
  font-size: 2rem;
}

.welcome-text .subtext {
  color: rgb(209, 203, 203);
  font-size: 0.9rem;
 
}

#check-weather-btn {
  padding: 12px 12px;
  background-color: rgb(39, 39, 94);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
}

#check-weather-btn:active {
  background-color: rgb(14, 14, 65);
  color: gray;
}


/*Weather Page*/


.container{


     max-width: 470px;
     margin-inline: auto;
     padding: 25px;
}

.Temp-stat{

     display: flex;
     flex-direction: column;
     gap: 15px;
     color: white;
     padding: 40px;
     background-color: #1f087562;
     align-items: center;
     border-radius: 10px;
}

.Temp-stat .temperature{

    font-size: 5.5rem;
    font-weight: 500;
}


@media (min-width:769px) {

   

    .container-entry{

         max-width: 600px;
    }
      

}

@media (min-width:1024px){

     
     .welcome-text .header{

        font-size: 2.6rem;
       
     }
}
