.modal{

    position: fixed;
    top: 50px;
    transition: all ease-in-out .3s;
    background-color: rgb(163, 157, 157);
    left: 22%;
    border-radius: 4px;
    width: 70%;
     padding: 30px;
     display: none;
     z-index: 999;
}

.form-container .input-group{

    display: flex;
    flex-direction: column;
}



.form-container .input-group input{

    padding: 8px 14px;
    border-radius: 4px;
    border: 1px solid gray;
}

.input-group .label{

    display: block;
    margin-bottom: 4px;
    color: white;
}

.input-group .submit-btn{

    padding: 12px 14px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(83, 83, 235);
    color: white;
}

.modal.open-modal{

    display: block;
}

@media (min-width:1024px) {
    


    .modal{

        max-width: 600px;
        left: 30%;
    }
}