* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin-inline: auto;
  max-width: 1100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-container {
  width: 100%;
  min-height: 30vh;
  background-color: rgb(250, 244, 244);
  border-radius: 4px;
  box-shadow: 0 10px 11px rgb(236, 232, 232);
  border: 1px solid rgb(228, 223, 223);
  padding: 25px;
}

.product-container {
  width: 100%;
  background-color: rgb(250, 244, 244);
  border-radius: 4px;
  box-shadow: 0 10px 11px rgb(236, 232, 232);
  border: 1px solid rgb(228, 223, 223);
  padding: 25px;
}

.title {
  font-weight: 500;
  font-size: 1.4rem;
  color: rgb(230, 173, 17);
}

.stat-form {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.stat {
  flex: 1;
}

.form {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.btn {
  display: flex;
  width: 100%;
  align-items: start;
  flex-direction: column;
}
.btn button {
  padding: 11px 14px;
  background-color: rgb(240, 173, 49);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 11px 14px;
  border: none;
  border-radius: 4px;
  margin-top: 5px;
}

label {
  font-weight: 500;
}

.stat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min(200px));
  gap: 10px;
}

.stat .card {
  padding: 25px;
  box-shadow: 0 5px 10px rgb(160, 157, 157);
  border-radius: 8px;
}

.stat .title-stat {
  font-weight: 500;
  font-size: 1.5rem;
  display: block;
}

.stat .count {
  font-weight: 500;
  font-size: 1.5rem;
}

.ProductCount {
  background-color: rgb(12, 190, 21);
  color: white;
}

.UserCount {
  background-color: blue;
  color: white;
}

.Soon {
  background-color: orange;
  color: white;
}

.Expense {
  background-color: gray;
  color: white;
}

.product-container .products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
  gap: 20px;
}

.product-container .products .item {
  box-shadow: 0 10px 5px rgb(190, 189, 189);
  overflow: hidden;
  border-radius: 4px;
  max-height: 60vh;
  overflow: hidden;
}
.product-container .products .item img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.product-container .products .item .context {
  flex-direction: column;
  display: flex;
  gap: 14px;
  padding: 11px 14px;
 
}

.product-container .products .item .context p{

    font-weight: 600;
   
}
