
.hero{

    margin-top: 44px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.hero .context {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
  flex: 1;
}

.hero .context .interactive-btn {
  display: flex;
  flex-direction: column;
  gap: 14px;
  
}

.hero .context .interactive-btn button {
  padding: 12px 14px;
     font-weight: 520;
    font-size: 1rem;
    cursor: pointer;
}

.hero .context .interactive-btn #click-this{

    border: 1px solid rgb(224, 206, 206);
    background-color: transparent;
    border-radius: 4px;
    color: black;


}

.hero .context .interactive-btn #change-theme{

    background-color: black;
    color: white;
}

.hero .image{

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero .image .img{


    max-width: 100%;
    border-radius: 4px;
     opacity: 0;
     display: none;
       transition: all ease-in-out 5s;
}

.hero .image .img.render{
 
 
    opacity: 1;
    display: block;
   
}



@media(min-width:769px){


    .hero .context .interactive-btn{

        flex-direction: row;
        justify-content: center;
    }

    .hero .image img{

        max-width: 400px;
    }

    .hero .context h1{

        font-size: 2.5rem;
    }


}

@media (min-width:1024px){


    .hero{
        

        flex-direction: row;
        align-items: center;
    }

    .hero .context h1{

        max-width: 800px;
    }

    .hero .image img{

        max-width: 100%;
    }

    .hero .context{

        align-items: start;
        text-align: start;
    }

    .hero .context h1{

        font-size: 3.5rem;
    }

       .hero .context p{

        font-size: 1.5rem;
        max-width: 700px;
       }

       .hero .image{

        max-width: 700px;
       }


}