@font-face {
    font-family: 'Poppins';
    src: url(/assets/fonts/Poppins/Poppins-Regular.ttf) ;
}


*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Poppins',sans-serif;
}

.container{

    padding: 14px 18px;
    margin-inline: auto;
    max-width: 530px;

}

@media(min-width:769px){

    .container{

        max-width: 700px;
        
    }


    @media (min-width:1024px) {
        

        .container{

            max-width: 1800px;
        }
    }
}