
.services{

    margin-top: 24px;
}

.services .heading{

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 14px;
}

.services .heading p{

    font-weight: 500;
    color: gray;
}

.services .heading h1{

    font-weight: 900;
    font-size: 2rem;
}

.servs-wrapper{

    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
}
.servs-wrapper .serv{


    padding: 24px 34px;
    background-color: #ffffff;
    border: 1px solid rgb(201, 199, 199);
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


@media (min-width:769px) {
    

    .servs-wrapper{

        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:1024px) {
    

    .servs-wrapper {

        grid-template-columns: repeat(4,1fr);
        grid-template-rows: 300px;
    }
    

}